<html lang="en-US">
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to the Blogpost </h1>

<!--<p align="left"> Hello,<strong><%#=@post.user.name%></strong> </p>-->
<!--<p> A commented has been on your Post <strong> <%#=@post.post_title%> </strong>. Make Sure To Check It Out! </p>-->

<p> Regards, </p>
<p> BitCot Team </p>
</body>
</html>